.wrapper {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    cursor: pointer;
}

.wrapper::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 47%;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, #000 100%);
    opacity: .9;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}

.wrapper::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(29, 28, 132);
    background: -moz-linear-gradient(90deg, rgba(29, 28, 132, 1) 25%, rgba(246, 207, 11, 0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(29, 28, 132, 1) 25%, rgba(246, 207, 11, 0) 100%);
    background: linear-gradient(90deg, rgba(29, 28, 132, 1) 25%, rgba(246, 207, 11, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d1c84", endColorstr="#f6cf0b", GradientType=1);
    opacity: 0;
    position: absolute;
    z-index: 3;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}

.wrapper:hover::before {
    opacity: 1;
}

.content {
    position: absolute;
    z-index: 4;
    top: 75%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    max-width: 100%;
    max-width: 100%;
    text-align: left;
    padding: 1rem;
}

.wrapper:hover .content {
    top: 35%;
}

.wrapper:hover .content p {
    opacity: 1;
}